[submodule "ipython"]
	path = ipython
	url = git@github.com:teharrison/ipython.git
[submodule "Retina"]
	path = Retina
	url = git@github.com:MG-RAST/Retina.git
[submodule "ipy-mkmq"]
	path = ipy-mkmq
	url = git@github.com:MG-RAST/ipy-mkmq.git
