[submodule "ipy-mkmq"]
	path = ipy-mkmq
	url = git://github.com/MG-RAST/ipy-mkmq.git
[submodule "Retina"]
	path = Retina
	url = git://github.com/MG-RAST/Retina.git
[submodule "ipython"]
	path = ipython
	url = git://github.com/ipython/ipython.git
